.sidenav {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    /* background-color: #111; */
    border: 1px solid;
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 50px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 105x;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 35px;
    margin-left: 50px;
  }
  
   #btnSidebar span {
    float: right; 
    cursor:pointer;
    padding-right: 15px;
  } 
  
  @media screen and (max-height: 150px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }